.tool-box {
    margin-top: 20px;
}

.sr-success {
    color: green;
    font-weight: bold;
}

.sr-fail {
    color: red;
    font-weight: bold;
}

.ui-tabs {
    position: relative;
    padding: .2em;
    zoom: 1;
}

/* position:relative prevents IE scroll bug (element with position:relative inside container with overflow:auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
    margin: 0 !important;
    padding: 0;
    height: 30px;
    border-bottom: 1px solid #cccccc;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a:hover {
    background-color: #F7F7F7;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    font-size: 13px;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #cccccc;
    height: 18px;
    background-color: #ebebeb;
    color: #777;
    margin-right: 2px;
    position: relative;
    outline: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    background-color: #fdfdfd;
    border-bottom: 1px solid #fdfdfd;
    cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}

/* first selector in group seems obsolete,but required to overcome bug in Opera applying cursor:text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
    display: block;
    padding: 1em 1.4em;
    border: 1px solid #cccccc;
    border-width: 0 1px 1px 1px;
    min-height: 150px;
    background-color: #fdfdfd;
}

.ui-tabs .ui-tabs-hide {
    display: none !important;
}
.extraRP{
    margin-left: 40px;
}
.hide{
    display:none;
}

h4 {
    margin: 0;
    margin-bottom: 3px;
}

.field-values {
    margin-left: 15px;
}

.field-values p {
    margin: 0;
}

.property-type {
    float: left;
    margin-right: 15px;
}

.property-type h2 {
    cursor: pointer;
}

.property-fields h4 a {
    text-decoration: none;
    font-size: 20px;
    vertical-align: text-top;
}

.field-values {
    display: none;
}
