#sr-popup, #sr-popup2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
}

#sr-popup iframe, #sr-popup2 iframe {
    width: 100%;
    height: 100%;
}

#sr-popup-form, #sr-popup-form2 {
    position: relative;

    width: 60%;
    padding: 10px;
    margin: 5% auto auto auto;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.6);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.6);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.6);

}

#sr-popup-close, #sr-popup-close2 {
    position: absolute;
    right: -13px;
    top: -13px;
    width:50px;
}

@media only screen
and (max-width : 860px) {

}
@media only screen
and (max-width : 650px) {
    #sr-popup-form{
        width:90%;
    }

}
@media only screen
and (max-width : 584px) {
    #sr-popup-form{
    }
}
@media only screen
and (max-width : 425px) {
    #sr-popup-form{
    }
}
@media only screen
and (max-width : 320px) {
    #sr-popup-form {
    }
}
@media only screen
and (max-width : 281px) {
    #sr-popup-form {
        width: 85%;
    }
}
@media only screen
and (max-width : 234px) {
    #sr-popup-form {
    }
}
@media only screen
and (max-height : 505px) {
    #sr-popup-form {
        /*height:*/
    }
}